<h1>Instructions</h1>

<div class="list-group">
  <a href="/pages/read_first" class="list-group-item">Read first</a>
  <a href="/pages/ethics" class="list-group-item">Ethics</a>
  <a href="/pages/references" class="list-group-item">References</a>
  <a href="/pages/links" class="list-group-item">Links</a>
  <a href="/pages/acknowledgements" class="list-group-item">Acknowledgements</a>
  <a href="/pages/contact_us" class="list-group-item">Contact Us</a>
</div>

<p class="pages_back"><%=link_to 'Back', plants_path%></p>
