<h1>Read First</h1>
<p class="pages_back"><%=link_to 'Back', :back%></p>

<div class="container text-justify">

<ol type="A">
  <b style="text-decoration:underline;"><li>HOW TO LOOK</li></b>
    <ol>
      <p><li><b>LOOK CLOSELY.</b>  Individual plants of the same species can vary widely in their attributes, a characteristic botanist call plasticity.  If there is more than one specimen of the plant you’re trying to identify look at several specimens.  Make sure the specimen you are examining is typical of the species you are trying to identify.  Remember that plant characteristics can vary depending on maturity, climate and habitat.  Many plant characteristics are very small.  Some flowers change color as they age or if they are growing in under-nourished soil.  While many plants are identifiable with only their leaves showing you may need to have the plant in flower or fruit to get an identification.  Even though the attributes of most plants in the app will be visible with the naked eye, you may find it helpful to have a 10x to 20x pocketable hand-lens to help see some of the smaller characteristics.</li></p>
      <p><li><b>USE ALL SENSES</b> - Touching the leaves, stems and flowers especially edges and surfaces may provide meaningful clues as to its identity.  If there are enough individual plants you might consider bruisng a leaf or stem and seeing it there is a unique fragrance associated with the specimen.  Before touching any plant be sure you can identify those in your area which may be toxic.</li></p>
    </ol>

  <b style="text-decoration:underline;"><li>PLANTS NOT INCLUDED</li></b>
     <p>Plants which are difficult to identify in the field because the small size of their parts and therefore require the use of a microscope in a laboratory are NOT included in this application.  This includes grasses (Poaceae), sedges (Cyperaceae), rushes (Juncaceae), algae, liverworts and mosses (bryophytes) and lichens.  In addition, aquatic plants, plants in winter condition and most cultivated (non-wild) plants are NOT included.</p>
     <p>Sometimes authors subdivide the individual species using form (or forma), variety (or varietas) or subspecies.  We do NOT include the form, variety or subspecies name for any cultivated (cv.) plant in this application.  If you become interested enough to what to know the subspecific names of plants you are ready to begin working with professional botanical manuals.</p>
     <p>We have tried to include ALL other wild plants found growing wild within the watershed.  Please let us know of any plant you find which was not identifiable using this application.</p>

  <b style="text-decoration:underline;"><li>BASIC ID PROCEDURES</li></b>
  <ol>
     <p><li><b>START.</b>  You begin the identification of a plant by taping the “Start  New Plant ID” button on the “Main Menu” screen.</li></p>
     <p><li><b>FEATURE SELECTION.</b>  You must then check the box to the right of every one of the six features listed that you see on the plant you want to identify.  When all features present have been checked tap the “next” button.  The app will work best when at least two features are available to describe.</li></p>
     <p><li><b>ATTRIBUTE SELECTION.</b>  You will then be presented with a series of “Attribute” screens (between 3 and 5 screens) for each Feature chosen.  You will need to tap one button on each screen then tap the “Next” button.   If the Attributes you selected are sufficient for an identification of your plant you will presented with the  “Identification” screen after the last Attribute is selected and the “Next” button is tapped.</li></p>
     <p><li><b>DETAIL SELECTION.</b>  If the selected Attributes are insufficient for an identification of your plant you will be presented with one additional  screen with a list of “Details”  from which you will need to select one and tap “Next” button.</li></p>
     <p><li><b>IDENTIFICATION.</b>  If your selections find a match it will bring up the “Identification” screen.  The screen will present you with the common name of the plant and common name synonyms, the scientific name of the plant and scientific name synonyms, the family the plant belongs.  There also be four addition options to see other information about the plant including: (a) photos, (b) how the plant relates to its environment, (c) rarity status and (d) use the plant has been put to by people.</li></p>
  </ol>

  <b style="text-decoration:underline;"><li>"NO MATCHING RECORD" RESULT</li></b>
    <p>If a plant with the characteristics (Features, Attributes and/or Details) you selected cannot be found in the database, you will receive a “No Matching Record” notice.  You then have three choices:</p>
      <ol>
        <p><li>You can tap the “Review ID Path” button below and change one or more of your choices to see if a match can be found or,</li></p>
	<p><li>You can make a record of this plant for later identification by an expert.  To do this you should:</li></p>
	<ol type="a">
	   <p><li>photograph the plant...the whole plant and close up especially flowers are present,</li></p>
	   <p><li>record its location with a GPS tag by tapping the “GPS” button,</li></p>
	   <p><li>record the time and date of the sighting, and</li></p>
	   <p><li>make a brief description of the plant’s location, or</li></p>
        </ol>
        <p><li>You can ignore the “No Matching Record” and start new ID by pressing the Home button.</li></p>
     </ol>
</ol>

</div>
