<p id="notice"><%= notice %></p>

<div class="list-group">
  <a class="list-group-item" href="/pages/instructions">Instructions</a>
  <a class="list-group-item" href="/pages/glossary">Glossary</a>
  <a class="list-group-item" href="/pages/map">Map</a>
  <a class="list-group-item" href="/pages/plant_listing">Plant Listing</a>
  <%= link_to 'Start New Plant ID', new_search_path, class: "list-group-item" %>
</div>
