<h1>Search Results</h1>
<%=link_to 'Back', new_search_path%>

<%if @plants.empty?%>
  <p>No records found</p>
<%else%>
  <% @plants.each do |plant| %>
    <h1><%=plant.name%></h1>
    <p>TSN: <%=plant.tsn%></p>
  <%end%>
<%end%>
