@import "bootstrap-sprockets";
@import "bootstrap";

*{ color: white; }

body
{ background: image-url('dark_forest.jpg');
}

label
{ border-radius: 5px;
  background-color: rgba(5,5,5, 0.7) !important;
  color: black;
  margin: 8px;
}

/*{ background-color: #337ab7;*/
label:hover
{ background-color: rgba(245,245,245,0.7) !important;
  color: white;
}

a
{ color: white;
}
a:hover
{ color: white;
}

#subtitle
{ text-shadow: 2px 2px 3px black;
  color: white;
}

.well
{ background-color: rgba(5, 5, 5, 0.4);
  color: white;
}

h1
{ text-align: center;
  text-shadow: 2px 2px 3px black;
  font-family: serif;
}

.hidden
{ display: none;
}

.action
{ text-align: center;
  margin-top: 10px;
}

.back_to_menu
{ text-align: center;
  margin-top: -5px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 3px gray;
}

.back_to_search
{ margin-left: 10px;
  text-shadow: 2px 2px 3px gray;
}

.result_link
{ //text-shadow: 2px 2px 3px gray;
  text-decoration: underline;
}

.list-group, .features, .buttons, .results_table
{ width: 80%;
  margin: auto;
}

.list-group-item
{ background-color: rgba(5,5,5,0.4);
  color: white !important;
}

.list-group-item:hover
{ color:black !important;
}

.buttons
{ padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.btn
{ background-color: black;
  border: 1px solid white;
}

.btn:hover
{ background-color: white;
  color: black;
  border: 1px solid black;
}

#first_back, #back
{ float:left;
}

#next, #finish
{ float:right;
}
