@import "bootstrap-sprockets";
@import "bootstrap";

/*body
{ background-image: url('tree_bark.png');
}
*/

h1
{ text-align: center;
}

.hidden
{ display: none;
}

.action
{ text-align: center;
  margin-top: 10px;
}

.back_to_menu
{ text-align: center;
  margin-top: 10px;
}

.back_to_search
{ margin-left: 10px;
}

.list-group, .features, .buttons, .results_table
{ width: 80%;
  margin: auto;
}

.buttons
{ padding-top: 10px;
}

#first_back, #back
{ float:left;
}

#next, #finish
{ float:right;
}
